<!DOCTYPE html>
<html lang="en">

<body>
<div class="row">
	<div class="col md4">

		<div <div ng-if="isLoggedIn == true" class="well">
			<h4>user info</h4>
			<h3>{{welcomeMessage}}</h3>

			<ul>
				<li>ID: {{user.id}}</li>
				<li>First Name: {{user.first_name}}</li>
				<li>Last Name: {{user.last_name}}</li>
				<li>Email: {{user.email}}</li>
				<li>Gender: {{user.gender}}</li>
				<li>Location: {{user.locale}}</li>
		</div>

		<div <div ng-if="isLoggedIn == true" class="well">
			<h4>permissions</h4>

			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>


			<div ng-if="isLoggedIn == false">
			<button type="button" class="btn btn-default" ng-click="login()">Log in</button>
		</div>
			<div ng-if="isLoggedIn == true">
				<button type="button" class="btn btn-default" ng-click="logout()">Log out</button>
			</div>
			<div ng-if="isLoggedIn == undefined">
				<button type="button" class="btn btn-default" ng-click="login()"  >Log in</button>
			</div>
			</div>
		<div class="col-md-8">
			<h3>Welcome to Facebook!</h3>
			<div ng-if="isLoggedIn == true">
				<form ng-submit="postStatus()">
					<div class="form-group">
						<label>Status Update</label>
						<textarea ng-model="body" class="form-control"></textarea>
					</div>
					<button type="submit" class="btn primary">Submit</button>
				</form>
				<br><br>
				<div ng-repeat="post in fullPosts" class="stbody">
					<div class="stimg">
						<img ng-src="{{picture}}">
					</div>
					<div class="sttext">
						{{post.message}}
						<a href="{{post.link}}"><img ng-src="{{post.picture}}"></a>
						<div class="sttime">{{post.created_time | date:'short'}}</div>
					</div>
					<div ng-if="isLoggedIn == false">
						<p>you need to login to post</p>
				</div>
			</div>
		</div>
	</div>
		</div>

</body>







</html>